.landing {
  background: url(../../public/images/nature.jpg) no-repeat center center/cover;
  height: 100vh;
  //   position: relative;

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    height: 100%;
    color: #fff;
    text-align: center;
  }
}