@import "config";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  opacity: 0.7;
  border-bottom: solid 1px $primary-color;

  @include query {
    display: block;
    text-align: center;
  }

  ul {
    display: flex;

    @include query {
        text-align: center;
        justify-content: center;
    }
  }

  a {
    color: #fff;
    padding: 0.5rem;
    margin: 0 0.3erm;

    &:hover {
      color: $primary-color;
    }
  }
  
}
